{% load staticfiles %}
<html>
	<head>
		<title>Sabine's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="page-header">
			<h1><a href="">Sabine's Blog</a></h1>
		</div>
		<div class="post">
			<h2><strong>First post</strong></h1>
			<p>Hi there!</p>
			<p>Welcome to my blog!</p>
		</div>
		<div class="post">
			<h2><strong>Second post</strong></h1>
			<p><em>Back</em> to working on the <a href="http://tutorial.djangogirls.org/en/">tutorial</a>!</p>
		</div>
		{% for post in posts %}
			<div class="shell_post">
				<h2><strong>{{post.title}}</strong></h1>
				<p>{{post.text|linebreaks}}</p>
				<p>published: {{post.published_date}}</p>
			</div>
		{% endfor %}
	</body>
</html>